openapi: 3.0.0
info:
  title: VicoHome API
  description: Complete API for VicoHome platform
  version: 1.0.0
  contact:
    name: VicoHome Support
    url: https://vicohome.io/support
    email: support@vicohome.io

servers:
  - url: https://api-us.vicohome.io
    description: Production API server

paths:
  # User Management Endpoints
  /api/userTag:
    post:
      tags:
        - User Management
      summary: Get user bucket parameters for A/B testing
      description: |
        Retrieves user-specific bucket parameters (tags) for A/B testing and feature flag 
        functionality. It's implemented through the GrowthBook SDK for managing features 
        and experiments. The response data is used to determine which features or 
        variations a user should see based on their assigned bucket or segment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BucketResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  # Livestreaming Endpoints
  /dc/rtcconnection/open:
    post:
      tags:
        - Livestreaming
      summary: Open P2P connection for livestreaming
      description: |
        Opens or establishes P2P connections to devices by their serial numbers.
        This endpoint is typically called before attempting to stream video or 
        communicate directly with a device. The P2P connection must be established 
        before real-time operations can be performed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNumberListEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /dc/rtcconnection/close:
    post:
      tags:
        - Livestreaming
      summary: Close P2P connection for livestreaming
      description: |
        Closes peer-to-peer (P2P) connections for live streaming. This endpoint 
        is typically called when the user exits the live streaming view, when the app 
        is going to background, or when the streaming session needs to be terminated.
        It releases resources associated with the connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNumberListEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  # Library Management Endpoints
  /library/deletelibrary/:
    post:
      tags:
        - Library Management
      summary: Delete recording
      description: |
        Delete one or more video recordings from cloud storage. This endpoint allows
        users to permanently remove recordings from their account based on the trace IDs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRecordEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryDeleteRecordResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              
  /library/newselectlibrary:
    post:
      tags:
        - Library Management
      summary: Get event details
      description: |
        Retrieves detailed information about recorded events based on filtering criteria.
        It returns a list of recordings that match the specified filters, including
        video URLs, thumbnails, timestamps, and metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetailResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/newselectlibrary/newevent:
    post:
      tags:
        - Library Management
      summary: Get event recordings by filter
      description: |
        Retrieves a list of event recordings based on filtering criteria. Unlike the
        /library/newselectlibrary endpoint, this one returns a simplified list focused 
        more on the recordings themselves than detailed event information. It can also 
        be used to query recordings from either cloud storage or local SD card storage.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryRecordEventResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/newselectsinglelibrary:
    post:
      tags:
        - Library Management
      summary: Get library by trace ID
      description: |
        Retrieves complete details for a single recording in the library using its
        unique trace ID. This endpoint is used for viewing detailed recording information,
        sharing recordings, downloading recordings, and displaying event information.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TraceIdEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleLibraryResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Recording not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/librarystatus:
    post:
      tags:
        - Library Management
      summary: Get library status
      description: |
        Provides status information about a user's recording library, including event 
        counts grouped by date. This endpoint is primarily used for calendar views to 
        show which days have recordings and how many recordings each day contains.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryStatusResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/queryVideoSearchOption:
    post:
      tags:
        - Library Management
      summary: Query video search options
      description: |
        Returns available video search filter options for the library recordings. 
        This endpoint helps populate filter criteria for the video/recording library 
        in the app, including AI-detected events, device-triggered events, user 
        operation filters, and available devices for multi-device filtering.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryOptionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchOptionResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/queryVideoSearchOptionBySn:
    post:
      tags:
        - Library Management
      summary: Query video search options by serial number
      description: |
        Returns available video search filter options for a specific device identified 
        by its serial number. This endpoint is a simplified version of the 
        /library/queryVideoSearchOption endpoint, requiring only the device serial number
        as input. It can only query cloud recordings (not SD card recordings).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryOptionRequestBySn'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoSearchOptionResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/updatemarked:
    post:
      tags:
        - Library Management
      summary: Set mark status
      description: |
        Updates the "marked" status (favorited/starred) of one or more recordings in 
        the video library. This allows users to mark important recordings for quick 
        reference later or to filter recordings by marked status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMarkEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/updatemissing:
    post:
      tags:
        - Library Management
      summary: Set read status
      description: |
        Updates the read status of one or more recordings in the video library.
        This allows the app to mark recordings as read or unread, which is typically
        used to track which recordings the user has viewed and to display unread
        indicators in the UI.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetReadStatusEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/othertagnamelist:
    post:
      tags:
        - Library Management
      summary: Get filter tag list
      description: |
        Retrieves a list of filter tags that can be used for filtering events in the 
        library. These tags represent categories like person detection, package detection, 
        vehicle detection, doorbell events, etc., and are displayed in the UI as 
        selectable filter options for narrowing down recordings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterTagListResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/getQuestionBackOptionsV2:
    post:
      tags:
        - Library Management
      summary: Get library feedback options
      description: |
        Retrieves available feedback options for videos/events in the library. This endpoint
        allows users to provide feedback on detection accuracy and other issues with recordings.
        The feedback options are hierarchical, with parent options that may contain child options,
        enabling more detailed feedback collection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryFeedbackEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryFeedbackResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/freeuser/banner:
    post:
      tags:
        - Library Management
      summary: Query payment banner
      description: |
        Queries payment promotion banner information for free users in the library section.
        This endpoint is used to display promotional banners that inform free users about 
        storage limitations and encourage upgrades to paid subscriptions. The banner can 
        show different types of messages related to storage capacity in days or GB.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LibraryPayBannerResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/freeuser/banner/close:
    post:
      tags:
        - Library Management
      summary: Report banner shown
      description: |
        Reports when a payment promotion banner has been shown or closed by the user.
        This endpoint is called after displaying a promotional banner to track user 
        interactions, such as dismissing the banner or navigating away from the screen. 
        It's primarily used for analytics purposes to measure banner effectiveness.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /library/commitQuestionBack:
    post:
      tags:
        - Library Management
      summary: Upload feedback information
      description: |
        Submits user feedback about video events and detection quality. This endpoint 
        allows users to report issues with recordings such as false detections,
        missed events, or other quality problems. It's used to collect user feedback
        about AI detection accuracy and improve the system over time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryFeedbackSubmitEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  # Location Management Endpoints
  /location/listlocation:
    post:
      tags:
        - Location Management
      summary: List locations
      description: Retrieves a list of all locations created by the user
      operationId: listLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllLocationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /location/insertlocation/:
    post:
      tags:
        - Location Management
      summary: Add location
      description: Creates a new location for organizing devices
      operationId: insertLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationInsertResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /location/updatelocationinfo:
    post:
      tags:
        - Location Management
      summary: Update location
      description: Updates an existing location's information
      operationId: updateLocationInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /location/deletelocation:
    post:
      tags:
        - Location Management
      summary: Delete location
      description: Deletes a location and returns a list of affected devices
      operationId: deleteLocation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLocationEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteLocationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Location not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # Device Management Endpoints
  /device/listuserdevices:
    post:
      tags:
        - Device Management
      summary: List all devices for a user
      description: Lists all devices associated with a user's account
      operationId: listUserDevices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/selectsingledevice:
    post:
      tags:
        - Device Management
      summary: Get single device details
      description: Retrieves detailed information about a single device by its serial number
      operationId: getSingleDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNoEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSingleDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/deactivatedevice:
    post:
      tags:
        - Device Management
      summary: Unbind a device
      description: Unbinds (deactivates) a device from a user's account
      operationId: deactivateDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNoEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '403':
          description: Forbidden - user does not have permission to unbind this device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/devicePushImage:
    post:
      tags:
        - Device Management
      summary: Device thumbnail images
      description: Retrieves thumbnail images for user's devices
      operationId: getDeviceThumbnailImages
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceThumbImageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/getDeviceAttributes:
    post:
      tags:
        - Device Management
      summary: Get device attributes
      description: Retrieves various attributes and properties of a device identified by its serial number
      operationId: getDeviceAttributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAttributesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAttributesResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/modifyDeviceAttributes:
    post:
      tags:
        - Device Management
      summary: Modify device attributes
      description: Modifies attributes and settings of a device identified by its serial number
      operationId: modifyDeviceAttributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributesEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/otastatus/:
    post:
      tags:
        - Device Management
        - Firmware Updates
      summary: Get OTA update status
      description: Retrieves the current status of an Over-The-Air (OTA) firmware update for a specific device
      operationId: getOtaStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNoEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOtaStatusResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/otastart/:
    post:
      tags:
        - Device Management
        - Firmware Updates
      summary: Start OTA update
      description: Initiates the Over-The-Air (OTA) firmware update process for a specified device
      operationId: startOtaUpdate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNoEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOtaStatusResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/rotate-calibration:
    post:
      tags:
        - Device Management
        - Device Configuration
      summary: Calibrate device rotation
      description: Initiates or checks the status of device rotation calibration for PTZ (Pan-Tilt-Zoom) cameras
      operationId: rotateCalibration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateCalibrationRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateCalibrationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/updateFloodlightSwitch:
    post:
      tags:
        - Device Management
        - Device Configuration
      summary: Update floodlight switch
      description: Updates the floodlight switch status (on/off) for a device with floodlight capability
      operationId: updateFloodlightSwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFloodlightSwitch'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/updateFloodlightLuminance:
    post:
      tags:
        - Device Management
        - Device Configuration
      summary: Update floodlight luminance
      description: Updates the brightness level of a device's floodlight
      operationId: updateFloodlightLuminance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFloodlightLuminanceRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # Activity Zones Endpoints
  /device/insertactivityzone:
    post:
      tags:
        - Device Management
        - Activity Zones
      summary: Add activity zone
      description: Adds a new activity zone for a device camera
      operationId: addActivityZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneAddEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneAddResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/getactivityzone:
    post:
      tags:
        - Device Management
        - Activity Zones
      summary: Get activity zones
      description: Retrieves all activity zones defined for a specific device
      operationId: getActivityZones
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneGetEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneGetResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/updateactivityzone:
    post:
      tags:
        - Device Management
        - Activity Zones
      summary: Update activity zone
      description: Updates an existing activity zone for a camera device
      operationId: updateActivityZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdateEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device or zone not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/deleteactivityzone:
    post:
      tags:
        - Device Management
        - Activity Zones
      summary: Delete activity zone
      description: Deletes an existing activity zone for a camera device
      operationId: deleteActivityZone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneDeleteEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device or zone not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # Sleep/Dormancy Endpoints
  /device/dormancy/list:
    post:
      tags:
        - Device Management
        - Sleep Mode
      summary: List sleep plans
      description: Retrieves the list of sleep/dormancy plans for a device
      operationId: listDormancyPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonSNRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SleepPlanResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/dormancy/create:
    post:
      tags:
        - Device Management
        - Sleep Mode
      summary: Create sleep plan
      description: Creates a new sleep/dormancy plan for a device
      operationId: createDormancyPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSleepPlanBean'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/dormancy/edit:
    post:
      tags:
        - Device Management
        - Sleep Mode
      summary: Edit sleep plan
      description: Edits an existing sleep/dormancy plan for a device
      operationId: editDormancyPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSleepPlanBean'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/dormancy/delete:
    post:
      tags:
        - Device Management
        - Sleep Mode
      summary: Delete sleep plan
      description: Deletes an existing sleep/dormancy plan for a device
      operationId: deleteDormancyPlan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePlanCreateData'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device or plan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/dormancy/switch:
    post:
      tags:
        - Device Management
        - Sleep Mode
      summary: Toggle sleep plan on/off
      description: Toggles the sleep/dormancy mode on or off for a specific device
      operationId: toggleDormancySwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepPlanData'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # Notification Settings Endpoints
  /usersetting/queryswitch:
    post:
      tags:
        - Notification Settings
      summary: Query merged push notification settings
      description: Retrieves the user's notification merge settings
      operationId: queryMergedNotificationSwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergePushResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /usersetting/switch:
    post:
      tags:
        - Notification Settings
      summary: Update merged push notification settings
      description: Updates the user's notification merge settings
      operationId: updateMergedNotificationSwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergePushEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/mechanical/dingdong/audition:
    post:
      tags:
        - Notification Settings
        - Doorbell Features
      summary: Test audition/doorbell sound
      description: Triggers a test sound for the mechanical chime feature on compatible doorbell devices
      operationId: testDoorbellSound
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonSNRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # AI Features Endpoints
  /aiAssist/queryEventObjectSwitch:
    post:
      tags:
        - AI Features
        - Event Detection
      summary: Query AI event detection settings
      description: Queries AI event object detection settings for devices
      operationId: queryEventObjectSwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiEventEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEventResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /aiAssist/updateEventObjectSwitch:
    post:
      tags:
        - AI Features
        - Event Detection
      summary: Update AI event detection settings
      description: Updates AI event detection settings for devices
      operationId: updateEventObjectSwitch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchAiEventEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /birdLovers/queryBirdAiSetting:
    post:
      tags:
        - AI Features
        - Bird Detection
      summary: Query bird AI settings
      description: Queries the bird detection AI settings for a specific camera device
      operationId: queryBirdAiSetting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BirdAiQueryEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BirdAiResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /birdLovers/updateBirdAiSetting:
    post:
      tags:
        - AI Features
        - Bird Detection
      summary: Update bird AI settings
      description: Updates bird detection AI settings for a specific camera device
      operationId: updateBirdAiSetting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BirdAiUpdateEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/queryMessageNotification/v1:
    post:
      tags:
        - AI Features
        - Notification Settings
      summary: Query person detection details
      description: Retrieves message notification settings and configuration for a specific device
      operationId: queryMessageNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageNotificationQueryEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageNotificationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /device/updateMessageNotification/v1:
    post:
      tags:
        - AI Features
        - Notification Settings
      summary: Update person detection settings
      description: Updates message notification settings for a specific device
      operationId: updateMessageNotification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageNotificationUpdateEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # VIP Management Endpoints
  /vip/device/cloud/info:
    post:
      tags:
        - VIP Management
      summary: Query device cloud service VIP info
      description: Queries VIP/subscription information for a specific device
      operationId: getDeviceCloudInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SerialNoEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCloudServiceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /vip/tier/list/v4:
    get:
      tags:
        - VIP Management
      summary: Get subscription tier list
      description: Retrieves available subscription tier options and product information
      operationId: getTierListV4
      parameters:
        - name: app.apiVersion
          in: query
          required: false
          schema:
            type: string
          description: API version
        - name: app.appName
          in: query
          required: false
          schema:
            type: string
          description: Application name
        - name: app.appType
          in: query
          required: false
          schema:
            type: string
          description: Application type
        - name: app.bundle
          in: query
          required: false
          schema:
            type: string
          description: Bundle identifier
        - name: app.countlyId
          in: query
          required: false
          schema:
            type: string
          description: Analytics ID
        - name: app.env
          in: query
          required: false
          schema:
            type: string
          description: Environment (e.g., "prod")
        - name: app.tenantId
          in: query
          required: false
          schema:
            type: string
          description: Tenant identifier
        - name: app.timeZone
          in: query
          required: false
          schema:
            type: string
          description: User's timezone
        - name: app.version
          in: query
          required: false
          schema:
            type: string
          description: App version number
        - name: app.versionName
          in: query
          required: false
          schema:
            type: string
          description: App version name
        - name: countryNo
          in: query
          required: false
          schema:
            type: string
          description: Country code
        - name: language
          in: query
          required: false
          schema:
            type: string
          description: User's language preference
        - name: tenantId
          in: query
          required: false
          schema:
            type: string
          description: User's tenant ID
        - name: tierServiceType
          in: query
          required: false
          schema:
            type: integer
            enum: [1]
          description: Service type (1 = 4G service tiers)
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierListResponseV4'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /vip/user/service/info:
    post:
      tags:
        - VIP Management
      summary: Get VIP user service info
      description: Gets VIP user service subscription information and device allocation
      operationId: getUserServiceInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/BaseEntry'
                - $ref: '#/components/schemas/Vip4GRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VipServiceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /vip/user/device/list:
    post:
      tags:
        - VIP Management
      summary: List devices with VIP status
      description: Lists devices with VIP status and their subscription tier positions
      operationId: getVipDeviceList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VipManagerResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /vip/user/rolling/day:
    post:
      tags:
        - VIP Management
      summary: Update user rolling day
      description: Updates a user's subscription billing cycle day
      operationId: updateUserRollingDay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RollingDayEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /vip/available/purchase/device:
    post:
      tags:
        - VIP Management
      summary: Get purchasable devices
      description: Gets a list of devices available for purchase with a specific subscription plan
      operationId: getPurchaseDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  /user/queryFreeTier:
    post:
      tags:
        - VIP Management
      summary: Query free tier status
      description: Queries the user's free cloud storage tier status and limits
      operationId: queryFreeTier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTierResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
                
  # Payment Endpoints
  /pay/google/order/verify:
    post:
      tags:
        - Payment
      summary: Verify Google Pay order information
      description: Verifies Google Play subscription purchases and activates service
      operationId: uploadGooglePayInfo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayResultResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayResultResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayResultResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayResultResponse'
                
  # Account Management Endpoints
  /account/login:
    post:
      tags:
        - Account Management
      summary: Authenticate user
      description: |
        Authenticates users and provides access tokens for the API. 
        Users can log in using either email/password or phone/password combinations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /account/logout/:
    post:
      tags:
        - Account Management
      summary: Terminate user session
      description: |
        Terminates a user's session and invalidates their authentication token. 
        It provides a secure way for users to sign out of the application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /account/getipinfo:
    get:
      tags:
        - Account Management
      summary: Get IP address information
      description: |
        Retrieves information about the user's IP address and geographic location. 
        This information is used for region-specific settings, support routing, 
        and determining the appropriate API servers for the user's geographical location.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    # Core request/response objects that are used across multiple API groups
    BaseEntry:
      type: object
      properties:
        app:
          type: object
          properties:
            apiVersion:
              type: string
              description: API version
              example: "1.0"
            appName:
              type: string
              description: Application name
              example: "VicoHome"
            appType:
              type: string
              description: Application type identifier
              example: "android"
            bundle:
              type: string
              description: Bundle identifier
              example: "com.vicohome.app"
            countlyId:
              type: string
              description: Analytics ID
              example: "abc123"
            env:
              type: string
              description: Environment
              example: "prod"
            tenantId:
              type: string
              description: Tenant identifier
              example: "default"
            timeZone:
              type: string
              description: User's timezone
              example: "America/Los_Angeles"
            version:
              type: string
              description: Application version
              example: "1.2.3"
            versionName:
              type: string
              description: Application version name
              example: "1.2.3"
          required:
            - appType
            - version
        countryNo:
          type: string
          description: User's country code
          example: "US"
        language:
          type: string
          description: User's language preference
          example: "en"
        tenantId:
          type: string
          description: User's tenant ID
          example: "default"
      required:
        - app
        
    BaseResponse:
      type: object
      properties:
        code:
          type: string
          description: Response code
          example: "0"
        msg:
          type: string
          description: Response message
          example: "Success"
      required:
        - code
        
    # Device-specific schemas
    SerialNoEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: The device's serial number
              example: "AB1234567"
            voiceReminder:
              type: boolean
              description: Optional parameter for voice reminders
              example: false
          required:
            - serialNumber
            
    AttributeModification:
      type: object
      properties:
        name:
          type: string
          description: Attribute name
          example: "pirSwitch"
        value:
          description: New value (type depends on attribute)
          example: true
      required:
        - name
        - value
        
    AttributesEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            modifiableAttributes:
              type: array
              description: List of attributes to modify
              items:
                $ref: '#/components/schemas/AttributeModification'
          required:
            - serialNumber
            - modifiableAttributes
            
    RotateCalibrationRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            needCalibration:
              type: boolean
              description: true to start calibration, false to check status
              example: true
          required:
            - serialNumber
            - needCalibration
            
    RotateCalibrationResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                calibrationFinished:
                  type: boolean
                  description: Whether calibration has completed
                  example: false
                  
    UpdateFloodlightSwitch:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            switchOn:
              type: boolean
              description: True to turn on, false to turn off
              example: true
          required:
            - serialNumber
            - switchOn
            
    UpdateFloodlightLuminanceRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            luminance:
              type: integer
              description: Brightness level
              minimum: 1
              maximum: 100
              example: 75
          required:
            - serialNumber
            - luminance
            
    ZoneAddEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            zoneName:
              type: string
              description: Name of the activity zone
              example: "Front Yard"
            vertices:
              type: string
              description: Coordinates that define the zone boundary as a polygon (comma-separated x,y pairs)
              example: "10,20,150,20,150,100,10,100"
            needAlarm:
              type: integer
              description: Flag to enable/disable alarm (0=disabled, 1=enabled)
              enum: [0, 1]
              example: 1
            needPush:
              type: integer
              description: Flag to enable/disable push notifications
              enum: [0, 1]
              example: 1
            needRecord:
              type: integer
              description: Flag to enable/disable recording for events
              enum: [0, 1]
              example: 1
            requestId:
              type: string
              description: Request identifier for tracking
              example: "request-123456"
          required:
            - serialNumber
            - zoneName
            - vertices
            - needAlarm
            - needPush
            - needRecord
            
    ZoneAddResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: integer
                  description: ID of the newly created activity zone
                  example: 12345
                  
    ZoneGetEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            language:
              type: string
              description: User language preference
              example: "en"
            requestId:
              type: string
              description: Request identifier for tracking
              example: "request-123456"
          required:
            - serialNumber
            
    ZoneGetResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                list:
                  type: array
                  description: Array of activity zones
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Zone ID
                        example: 12345
                      serialNumber:
                        type: string
                        description: Device serial number
                        example: "AB1234567"
                      zoneName:
                        type: string
                        description: Custom name of the zone
                        example: "Front Yard"
                      zoneNameId:
                        type: integer
                        description: Zone name identifier
                        example: 0
                      vertices:
                        type: string
                        description: Coordinates defining the zone boundaries
                        example: "10,20,150,20,150,100,10,100"
                      needPush:
                        type: integer
                        description: Push notification setting (0=disabled, 1=enabled)
                        enum: [0, 1]
                        example: 1
                      needAlarm:
                        type: integer
                        description: Alarm setting (0=disabled, 1=enabled)
                        enum: [0, 1]
                        example: 1
                      needRecord:
                        type: integer
                        description: Recording setting (0=disabled, 1=enabled)
                        enum: [0, 1]
                        example: 1
                      modelCategory:
                        type: integer
                        description: Device model category
                        example: 1
                      deviceName:
                        type: string
                        description: Name of the device
                        example: "Front Door Camera"
                        
    ZoneUpdateEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            id:
              type: integer
              description: Zone ID to update
              example: 12345
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            zoneName:
              type: string
              description: Name of the activity zone
              example: "Front Yard"
            vertices:
              type: string
              description: Coordinates that define the zone boundary as a polygon
              example: "10,20,150,20,150,100,10,100"
            needAlarm:
              type: integer
              description: Flag to enable/disable alarm (0=disabled, 1=enabled)
              enum: [0, 1]
              example: 1
            needPush:
              type: integer
              description: Flag to enable/disable push notifications
              enum: [0, 1]
              example: 1
            needRecord:
              type: integer
              description: Flag to enable/disable recording for events
              enum: [0, 1]
              example: 1
            language:
              type: string
              description: User's language preference
              example: "en"
            requestId:
              type: string
              description: Request identifier for tracking
              example: "request-123456"
          required:
            - id
            - serialNumber
            - zoneName
            - vertices
            - needAlarm
            - needPush
            - needRecord
            
    ZoneDeleteEntry:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            id:
              type: integer
              description: Zone ID to delete
              example: 12345
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            language:
              type: string
              description: User's language preference
              example: "en"
            requestId:
              type: string
              description: Request identifier for tracking
              example: "request-123456"
          required:
            - id
            - serialNumber
            
    CommonSNRequest:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
          required:
            - serialNumber
            
    SleepPlan:
      type: object
      properties:
        serialNumber:
          type: string
          description: Device serial number
          example: "AB1234567"
        startHour:
          type: integer
          description: Hour when sleep mode starts (0-23)
          minimum: 0
          maximum: 23
          example: 22
        startMinute:
          type: integer
          description: Minute when sleep mode starts (0-59)
          minimum: 0
          maximum: 59
          example: 30
        endHour:
          type: integer
          description: Hour when sleep mode ends (0-23)
          minimum: 0
          maximum: 23
          example: 7
        endMinute:
          type: integer
          description: Minute when sleep mode ends (0-59)
          minimum: 0
          maximum: 59
          example: 0
        period:
          type: integer
          description: Period value (e.g., 1 for daily)
          example: 1
        planDay:
          type: integer
          description: Bitmask of days for the plan (127 = all days)
          example: 127
        planStartDay:
          type: array
          description: List of start days for the plan (1=Monday, 7=Sunday)
          items:
            type: integer
            minimum: 1
            maximum: 7
          example: [1, 2, 3, 4, 5, 6, 7]
      required:
        - serialNumber
        - startHour
        - startMinute
        - endHour
        - endMinute
        - period
        - planDay
            
    SleepPlanResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: array
              description: List of sleep plans for the device
              items:
                $ref: '#/components/schemas/SleepPlan'
                
    DeviceSleepPlanBean:
      type: object
      allOf:
        - $ref: '#/components/schemas/BaseEntry'
        - type: object
          properties:
            serialNumber:
              type: string
              description: Device serial number
              example: "AB1234567"
            startHour:
              type: integer
              description: Start hour of sleep period (0-23)
              minimum: 0
              maximum: 23
              example: 22
            startMinute:
              type: integer
              description: Start minute of sleep period (0-59)
              minimum: 0
              maximum: 59
              example: 30
            endHour:
              type: integer
              description: End hour of sleep period (0-23)
              minimum: 0
              maximum: 23
[...]
