openapi: 3.0.0
info:
  title: Vicohome API
  description: API for Vicohome services
  version: 1.0.0
  contact:
    name: Vicohome Support
    url: https://vicohome.io/support
    email: support@vicohome.io

servers:
  - url: https://api-us.vicohome.io
    description: US Region API Server
  - url: https://api-eu.vicohome.io
    description: EU Region API Server
  - url: https://api-staging-us.vicohome.io
    description: US Staging API Server
  - url: https://api-staging-eu.vicohome.io
    description: EU Staging API Server

paths:
  /account/login:
    post:
      tags:
        - Account Management
      summary: Authenticate user
      description: |
        Authenticates users and provides access tokens for the API. 
        Users can log in using either email/password or phone/password combinations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /account/logout/:
    post:
      tags:
        - Account Management
      summary: Terminate user session
      description: |
        Terminates a user's session and invalidates their authentication token. 
        It provides a secure way for users to sign out of the application.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /account/getipinfo:
    get:
      tags:
        - Account Management
      summary: Get IP address information
      description: |
        Retrieves information about the user's IP address and geographic location. 
        This information is used for region-specific settings, support routing, 
        and determining the appropriate API servers for the user's geographical location.
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NodeInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/insertactivityzone:
    post:
      tags:
        - Device Management
      summary: Add activity zone to a device
      description: |
        Creates a new activity zone for a device. Activity zones define specific areas 
        within a camera's view where motion detection and alerts should be active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneBean'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneAddResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/deleteactivityzone:
    post:
      tags:
        - Device Management
      summary: Delete activity zone from a device
      description: |
        Deletes an existing activity zone from a device. This operation cannot be undone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneDeleteEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/getactivityzone:
    post:
      tags:
        - Device Management
      summary: Get all activity zones for a device
      description: |
        Retrieves all configured activity zones for a specific device. Activity zones 
        are user-defined areas within a camera's field of view where motion detection and 
        alerts are active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneGetEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneGetResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/updateactivityzone:
    post:
      tags:
        - Device Management
      summary: Update an existing activity zone
      description: |
        Modifies an existing activity zone for a device. Activity zones are user-defined 
        areas within a camera's field of view where motion detection and alerts are active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZoneUpdateEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /birdLovers/queryBirdAiSetting:
    post:
      tags:
        - AI Features
      summary: Get bird detection settings
      description: |
        Retrieves the current bird detection analysis and notification settings for a specific 
        device. This allows users to check whether bird detection and related notifications are 
        enabled for compatible cameras.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiBirdResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /birdLovers/updateBirdAiSetting:
    post:
      tags:
        - AI Features
      summary: Update bird detection settings
      description: |
        Updates the bird detection analysis and notification settings for a specific device. 
        This enables users to control whether bird detection is active and whether they receive 
        notifications for detected birds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiBirdUpdateEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/updateFloodlightSwitch:
    post:
      tags:
        - Device Management
      summary: Control device floodlight
      description: |
        Controls the floodlight (turn on/off) for compatible devices. 
        This provides remote control of the device's illumination feature.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFloodlightSwitch'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/updateFloodlightLuminance:
    post:
      tags:
        - Device Management
      summary: Adjust floodlight brightness
      description: |
        Adjusts the brightness level of a device's floodlight. 
        This provides fine-grained control over the illumination intensity for compatible devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFloodlightLuminanceRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /location/insertlocation/:
    post:
      tags:
        - Location Management
      summary: Create a new location
      description: |
        Creates a new location entry in the system. Locations are used to organize 
        devices geographically, helping users manage devices across multiple sites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddLocationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /cationcation/deletelocation:
    post:
      tags:
        - Location Management
      summary: Delete a location
      description: |
        Removes a location from the system. When a location is deleted, any devices 
        associated with that location may be reassigned or have their location information updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLocationEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteLocationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/mechanical/dingdong/audition:
    post:
      tags:
        - Device Management
      summary: Test doorbell audio
      description: |
        Triggers a doorbell's chime to play a test sound. This allows users to 
        verify the doorbell's audio functionality and adjust volume settings accordingly.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonSNRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/dormancy/create:
    post:
      tags:
        - Device Management
      summary: Create device sleep schedule
      description: |
        Creates a new sleep schedule for a device. Sleep plans allow users to define 
        specific time periods during which the device will enter a low-power state, 
        reducing notifications and conserving energy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSleepPlanBean'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/dormancy/delete:
    post:
      tags:
        - Device Management
      summary: Delete device sleep schedule
      description: |
        Deletes an existing sleep schedule for a device. This allows users to 
        remove specific sleep plans that are no longer needed, reverting the device 
        to its normal operational state during those time periods.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSleepPlanEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/devicePushImage:
    post:
      tags:
        - Device Management
      summary: Get device thumbnail images
      description: |
        Retrieves thumbnail images for cameras associated with the user's account.
        These images represent the most recent snapshot from each camera and are 
        typically used for device preview in dashboard views.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceThumbImageResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/dormancy/edit:
    post:
      tags:
        - Device Management
      summary: Edit device sleep plan
      description: |
        Updates an existing sleep schedule for a device. Sleep plans allow users to define 
        specific time periods during which the device will enter a low-power state, 
        reducing notifications and conserving energy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSleepPlanBean'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/getDeviceAttributes:
    post:
      tags:
        - Device Management
      summary: Get device attributes
      description: |
        Retrieves detailed device information including hardware specifications, 
        real-time status, and configurable settings. This endpoint provides comprehensive
        information about a device's capabilities and current state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceAttributesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAttributesResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/otastatus/:
    post:
      tags:
        - Device Management
      summary: Get device update status
      description: |
        Retrieves the current status of firmware updates for a device. This endpoint
        can be used to check if an update is in progress, the progress percentage,
        and the target firmware version.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtaStatusResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/selectsingledevice:
    post:
      tags:
        - Device Management
      summary: Get single device data
      description: |
        Retrieves comprehensive information about a specific device. This endpoint provides
        detailed device information including model details, status information, location,
        thumbnail image data, SD card information, and supported features.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/listuserdevices:
    post:
      tags:
        - Device Management
      summary: List all devices
      description: |
        Retrieves a list of all devices associated with the user's account. This endpoint
        provides an overview of all devices, including their status, location, and key attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /location/listlocation:
    post:
      tags:
        - Location Management
      summary: List all locations
      description: |
        Retrieves a list of all locations associated with the user's account. Locations
        are used to organize devices geographically, helping users manage devices
        across multiple sites.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLocationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/dormancy/list:
    post:
      tags:
        - Device Management
      summary: List all sleep plans
      description: |
        Retrieves all sleep plans configured for a specific device. Sleep plans define 
        specific time periods during which the device will enter a low-power state,
        reducing notifications and conserving energy.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SNEntry'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSleepPlanResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/queryMessageNotification/v1:
    post:
      tags:
        - AI Features
      summary: Get person detection settings
      description: |
        Retrieves AI detection notification settings for a specific device. This endpoint
        allows users to query which types of AI detections (people, packages, pets, 
        vehicles, etc.) are configured to trigger notifications.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonDetectionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonDetectionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
                
  /device/modifyDeviceAttributes:
    post:
      tags:
        - Device Management
      summary: Update device attributes
      description: |
        Modifies specific device attributes and settings. This endpoint allows users to
        update configurable device properties including device name, location assignment,
        and various feature settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyDeviceAttributesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/rotate-calibration:
    post:
      tags:
        - Device Management
      summary: Device rotation calibration
      description: |
        Calibrates the rotation orientation for compatible devices. This allows users to
        correctly configure the device's orientation and ensure that video streams and
        recordings are properly displayed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateCalibrationRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/dormancy/switch:
    post:
      tags:
        - Device Management
      summary: Sleep mode settings
      description: |
        Controls the sleep mode functionality for a device. This setting determines whether
        the device's sleep plans are actively enforced or temporarily suspended.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepSwitchSettingRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/otastart/:
    post:
      tags:
        - Device Management
      summary: Start device update
      description: |
        Initiates a firmware update for a device. This endpoint triggers the download and
        installation of new firmware when available, improving device functionality and security.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartOtaRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/deactivatedevice:
    post:
      tags:
        - Device Management
      summary: Unbind devices
      description: |
        Removes a device from the user's account. This operation disassociates the device
        from the current user, allowing it to be claimed by another account if needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnbindDeviceRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /aiAssist/queryEventObjectSwitch:
    post:
      tags:
        - AI Features
      summary: Query AI event information
      description: |
        Retrieves the current AI event detection settings for a specific device.
        This endpoint allows users to check which types of AI-powered events
        (people, vehicles, animals, etc.) are enabled for detection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAiEventInfoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAiEventInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /aiAssist/updateEventObjectSwitch:
    post:
      tags:
        - AI Features
      summary: Update object detection settings
      description: |
        Updates the AI event detection settings for a specific device. This endpoint allows
        users to enable or disable specific types of AI-powered event detection
        (people, vehicles, animals, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventObjectSwitchRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /location/updatelocationinfo:
    post:
      tags:
        - Location Management
      summary: Update location data
      description: |
        Updates information for an existing location. This endpoint allows users to
        modify location properties such as name, address, and coordinates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLocationRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usersetting/queryswitch:
    post:
      tags:
        - Notification Management
      summary: Query push notification settings
      description: |
        Retrieves the current push notification settings for a user's account.
        This endpoint allows users to check which notification types are enabled
        for their devices and account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryMargePushSwitchRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryMargePushSwitchResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /usersetting/switch:
    post:
      tags:
        - Notification Management
      summary: Update push notification settings
      description: |
        Updates the push notification settings for a user's account. This endpoint
        allows users to enable or disable specific types of notifications
        for their devices and account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMargePushSwitchRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/updateMessageNotification/v1:
    post:
      tags:
        - AI Features
      summary: Upload person detection information
      description: |
        Updates the person detection notification settings for a specific device.
        This endpoint allows users to configure how person detection events are
        processed and which notification types are triggered.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadPersonDetectionDetailInfoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/device/cloud/info:
    post:
      tags:
        - VIP Services
      summary: Query VIP information
      description: |
        Retrieves VIP subscription information for a specific device. This endpoint
        provides details about cloud storage subscriptions, premium features,
        and subscription status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryDeviceCloudVipInfoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryDeviceCloudVipInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/freetier/info:
    post:
      tags:
        - VIP Services
      summary: Query free tier information
      description: |
        Retrieves information about the free tier service available for a device.
        This endpoint provides details about the features and limitations of the
        free service level.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryFreeTierRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryFreeTierResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dc/rtcconnection/close:
    post:
      tags:
        - P2P Connections
      summary: Close peer-to-peer connection
      description: |
        Closes an active peer-to-peer connection with a device. This endpoint terminates
        the real-time communication session between the client and a camera.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseP2PConnectionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/deletelibrary/:
    post:
      tags:
        - Library Management
      summary: Delete videos/recordings
      description: |
        Deletes specific recordings from the cloud library. This operation permanently
        removes the selected recordings and cannot be undone.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRecordRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/newselectlibrary:
    post:
      tags:
        - Library Management
      summary: Get details for an event
      description: |
        Retrieves detailed information about a specific event recording. This endpoint
        provides comprehensive metadata about a single recorded event, including
        timestamps, thumbnails, and event classification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEventDetailRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventDetailResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/newselectlibrary/newevent:
    post:
      tags:
        - Library Management
      summary: Get recordings filtered by criteria
      description: |
        Retrieves a list of recordings based on specified filter criteria. This endpoint
        allows users to search for recordings by date range, event type, device,
        and other attributes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEventRecordByFilterRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventRecordByFilterResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/newselectsinglelibrary:
    post:
      tags:
        - Library Management
      summary: Get library data by trace ID
      description: |
        Retrieves library data for a specific recording identified by its trace ID.
        This endpoint provides detailed information about a single recording, including
        playback URLs, thumbnails, and metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLibraryByTraceIdRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLibraryByTraceIdResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/librarystatus:
    post:
      tags:
        - Library Management
      summary: Get library status
      description: |
        Retrieves the current status of the cloud recording library for a specific device.
        This endpoint provides information about storage utilization, recording capacity,
        and subscription status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetLibraryStatusRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetLibraryStatusResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dc/rtcconnection/open:
    post:
      tags:
        - P2P Connections
      summary: Open peer-to-peer connection
      description: |
        Establishes a peer-to-peer connection with a device for real-time video streaming.
        This endpoint initiates the WebRTC connection process between the client and
        a camera for live viewing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenP2PConnectionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenP2PConnectionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /device/queryUserActivityZone:
    get:
      tags:
        - Activity Zones
      summary: Query user activity zones
      description: |
        Retrieves all activity zones configured across the user's devices. This endpoint
        provides a comprehensive view of all activity zone configurations for all
        cameras in the user's account.
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Authentication token received from login
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryUserActivityZoneResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/queryVideoSearchOption:
    post:
      tags:
        - Search Options
      summary: Search for videos with options
      description: |
        Retrieves available search options for video queries. This endpoint provides
        information about the valid search parameters, filter options, and sorting
        methods available for video search operations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryVideoSearchOptionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryVideoSearchOptionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/queryVideoSearchOptionBySn:
    post:
      tags:
        - Search Options
      summary: Search for videos by serial number
      description: |
        Retrieves available search options for a specific device identified by serial number.
        This endpoint provides device-specific information about valid search parameters,
        filter options, and sorting methods for video search operations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryVideoSearchOptionBySnRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryVideoSearchOptionBySnResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/updatemarked:
    post:
      tags:
        - Recording Management
      summary: Set mark status for recordings
      description: |
        Updates the "marked" status for specific recordings. This endpoint allows users
        to mark or unmark recordings as favorites or important, making them easier to
        find and protecting them from automatic deletion.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMarkStatusRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /library/updatemissing:
    post:
      tags:
        - Recording Management
      summary: Set read status for recordings
      description: |
        Updates the "read" status for specific recordings. This endpoint allows users
        to mark recordings as viewed or unviewed, helping to track which events have
        been reviewed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetReadStatusRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/available/purchase/device:
    post:
      tags:
        - Payment Management
      summary: Get purchase information for a device
      description: |
        Retrieves information about subscription purchase options available for a specific device.
        This endpoint provides details on pricing, available plans, and device compatibility.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPurchaseDeviceRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPurchaseDeviceResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/tier/list/v4:
    post:
      tags:
        - Payment Management
      summary: Get subscription tier options
      description: |
        Retrieves a list of available subscription tiers and their details.
        This endpoint provides information about pricing, storage limits, feature sets,
        and other attributes of different subscription plans.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetTierListV4Request'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTierListV4Response'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/user/service/info:
    post:
      tags:
        - Payment Management
      summary: Get VIP user service information
      description: |
        Retrieves detailed information about a user's VIP service subscriptions.
        This endpoint provides data on active plans, expiration dates, payment history,
        and account status for premium services.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetVipUserServiceInfoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVipUserServiceInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/user/device/list:
    post:
      tags:
        - Payment Management
      summary: Query VIP device positions
      description: |
        Retrieves information about which devices in a user's account have VIP subscriptions
        and what subscription slots are available. This endpoint shows how premium
        subscriptions are allocated across the user's devices.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryVipDevicePositionRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryVipDevicePositionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vip/user/rolling/day:
    post:
      tags:
        - Payment Management
      summary: Update user billing cycle day
      description: |
        Updates the day of the month when a user's billing cycle renews.
        This endpoint allows users to align their subscription renewal dates
        with their preferred payment schedule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRollingDayRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /pay/google/order/verify:
    post:
      tags:
        - Payment Management
      summary: Process Google Pay payments
      description: |
        Processes and verifies Google Pay payment information for subscription purchases.
        This endpoint handles the payment verification, provisioning of services,
        and updating of subscription records.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadGooglePayInfoRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadGooglePayInfoResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ZoneAddResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            id:
              type: integer
              description: ID of the newly created activity zone
              example: 12345
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    ZoneDeleteEntry:
      type: object
      required:
        - id
        - serialNumber
      properties:
        id:
          type: integer
          description: The ID of the activity zone to delete
          example: 12345
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        token:
          type: string
          description: Authentication token received from login
          
    ZoneGetResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            list:
              type: array
              description: List of activity zones for the specified device
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique identifier for the zone
                    example: 12345
                  serialNumber:
                    type: string
                    description: Device serial number
                    example: "ABC123XYZ"
                  zoneName:
                    type: string
                    description: Name of the activity zone
                    example: "Front Yard"
                  vertices:
                    type: string
                    description: Comma-separated coordinates defining the zone shape
                    example: "0.2,0.2,0.2,0.5,0.2,0.8,0.5,0.8,0.8,0.8,0.8,0.5,0.8,0.2,0.5,0.2"
                  needRecord:
                    type: integer
                    description: Flag to record events in this zone (1 = enabled, 0 = disabled)
                    enum: [0, 1]
                    example: 1
                  needAlarm:
                    type: integer
                    description: Flag to trigger alarm for events in this zone (1 = enabled, 0 = disabled)
                    enum: [0, 1]
                    example: 0
                  needPush:
                    type: integer
                    description: Flag to send push notifications for events in this zone (1 = enabled, 0 = disabled)
                    enum: [0, 1]
                    example: 1
                  zoneNameId:
                    type: integer
                    description: Identifier for the zone name
                    example: 1
                  modelCategory:
                    type: integer
                    description: Model category identifier
                    example: 1
                  deviceName:
                    type: string
                    description: Name of the device
                    example: "Front Camera"
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    ZoneUpdateEntry:
      type: object
      required:
        - id
        - serialNumber
        - zoneName
        - vertices
        - needRecord
        - needPush
      properties:
        id:
          type: integer
          description: Unique identifier for the zone to update
          example: 12345
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        zoneName:
          type: string
          description: Name for the activity zone
          example: "Front Yard"
        vertices:
          type: string
          description: Comma-separated list of coordinates that define the zone's shape
          example: "0.2,0.2,0.2,0.5,0.2,0.8,0.5,0.8,0.8,0.8,0.8,0.5,0.8,0.2,0.5,0.2"
        needRecord:
          type: integer
          description: Flag to record events in this zone (1 = enabled, 0 = disabled)
          enum: [0, 1]
          example: 1
        needAlarm:
          type: integer
          description: Flag to trigger alarm for events in this zone (1 = enabled, 0 = disabled)
          enum: [0, 1]
          example: 0
        needPush:
          type: integer
          description: Flag to send push notifications for events in this zone (1 = enabled, 0 = disabled)
          enum: [0, 1]
          example: 1
        token:
          type: string
          description: Authentication token received from login
          
    AiBirdResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            aiAnalyzeSwitch:
              type: boolean
              description: Whether bird detection analysis is enabled on the device
              example: true
            aiNotifySwitch:
              type: boolean
              description: Whether notifications for bird detection events are enabled
              example: false
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    AiBirdUpdateEntry:
      type: object
      required:
        - serialNumber
        - aiAnalyzeSwitch
        - aiNotifySwitch
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        aiAnalyzeSwitch:
          type: boolean
          description: Flag to enable/disable bird detection analysis
          example: true
        aiNotifySwitch:
          type: boolean
          description: Flag to enable/disable notifications for bird detection
          example: false
        token:
          type: string
          description: Authentication token received from login
          
    UpdateFloodlightSwitch:
      type: object
      required:
        - serialNumber
        - switchOn
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        switchOn:
          type: boolean
          description: Flag to turn the floodlight on (true) or off (false)
          example: true
        token:
          type: string
          description: Authentication token received from login
          
    UpdateFloodlightLuminanceRequest:
      type: object
      required:
        - serialNumber
        - luminance
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        luminance:
          type: integer
          description: The brightness level for the floodlight (typically 1-100)
          example: 75
          minimum: 1
          maximum: 100
        token:
          type: string
          description: Authentication token received from login
    ZoneGetEntry:
      type: object
      required:
        - serialNumber
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        token:
          type: string
          description: Authentication token received from login
          
    LocationEntry:
      type: object
      required:
        - locationName
        - country
        - state
        - city
      properties:
        locationName:
          type: string
          description: Name of the location
          example: "Home"
        country:
          type: string
          description: Country name
          example: "US"
        state:
          type: string
          description: State/province name
          example: "California"
        city:
          type: string
          description: City name
          example: "San Francisco"
        district:
          type: string
          description: District/area name
          example: "Mission District"
        streetAddress1:
          type: string
          description: Primary street address
          example: "123 Main St"
        streetAddress2:
          type: string
          description: Secondary street address
          example: "Apt 4B"
        postalCode:
          type: string
          description: Postal/ZIP code
          example: "94107"
        token:
          type: string
          description: Authentication token received from login
          
    AddLocationResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            id:
              type: integer
              description: Unique identifier for the created location
              example: 12345
            locationName:
              type: string
              description: Name of the location
              example: "Home"
            country:
              type: string
              description: Country name
              example: "US"
            state:
              type: string
              description: State/province name
              example: "California"
            city:
              type: string
              description: City name
              example: "San Francisco"
            district:
              type: string
              description: District/area name
              example: "Mission District"
            streetAddress1:
              type: string
              description: Primary street address
              example: "123 Main St"
            streetAddress2:
              type: string
              description: Secondary street address
              example: "Apt 4B"
            postalCode:
              type: string
              description: Postal/ZIP code
              example: "94107"
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    DeleteLocationEntry:
      type: object
      required:
        - id
      properties:
        id:
          type: integer
          description: ID of the location to delete
          example: 12345
        token:
          type: string
          description: Authentication token received from login
          
    DeleteLocationResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            list:
              type: array
              description: List of devices affected by the location deletion
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique identifier for the device
                    example: 67890
                  serialNumber:
                    type: string
                    description: Device serial number
                    example: "ABC123XYZ"
                  name:
                    type: string
                    description: Device name
                    example: "Front Door Camera"
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    DeviceSleepPlanBean:
      type: object
      required:
        - serialNumber
        - startHour
        - startMinute
        - endHour
        - endMinute
        - period
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        startHour:
          type: integer
          description: Start hour in 24-hour format (0-23)
          example: 22
          minimum: 0
          maximum: 23
        startMinute:
          type: integer
          description: Start minute (0-59)
          example: 0
          minimum: 0
          maximum: 59
        endHour:
          type: integer
          description: End hour in 24-hour format (0-23)
          example: 6
          minimum: 0
          maximum: 23
        endMinute:
          type: integer
          description: End minute (0-59)
          example: 0
          minimum: 0
          maximum: 59
        period:
          type: integer
          description: Period identifier (1 for weekly schedule, 0 for single day)
          example: 1
          enum: [0, 1]
        planDay:
          type: integer
          description: Single day selection (used when period=0)
          example: 1
          minimum: 1
          maximum: 7
        planStartDay:
          type: array
          description: List of days of the week (1=Monday, 7=Sunday), used when period=1
          items:
            type: integer
            minimum: 1
            maximum: 7
          example: [1, 2, 3, 4, 5]
        token:
          type: string
          description: Authentication token received from login
          
    DeleteSleepPlanEntry:
      type: object
      required:
        - serialNumber
        - period
      properties:
        serialNumber:
          type: string
          description: Device serial number identifier
          example: "ABC123XYZ"
        period:
          type: integer
          description: Period identifier to determine which sleep plan to delete (0 or 1)
          example: 0
          enum: [0, 1]
        token:
          type: string
          description: Authentication token received from login
          
    ListSleepPlanResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: array
          description: List of sleep plans
          items:
            type: object
            properties:
              serialNumber:
                type: string
                description: Device serial number identifier
                example: "ABC123XYZ"
              startHour:
                type: integer
                description: Start hour in 24-hour format (0-23)
                example: 22
                minimum: 0
                maximum: 23
              startMinute:
                type: integer
                description: Start minute (0-59)
                example: 0
                minimum: 0
                maximum: 59
              endHour:
                type: integer
                description: End hour in 24-hour format (0-23)
                example: 6
                minimum: 0
                maximum: 23
              endMinute:
                type: integer
                description: End minute (0-59)
                example: 0
                minimum: 0
                maximum: 59
              period:
                type: integer
                description: Period identifier (1 for weekly schedule, 0 for single day)
                example: 1
                enum: [0, 1]
              planDay:
                type: integer
                description: Single day selection (used when period=0)
                example: 1
                minimum: 1
                maximum: 7
              planStartDay:
                type: array
                description: List of days of the week (1=Monday, 7=Sunday), used when period=1
                items:
                  type: integer
                  minimum: 1
                  maximum: 7
                example: [1, 2, 3, 4, 5]
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    DeviceThumbImageResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: array
          items:
            type: object
            properties:
              serialNumber:
                type: string
                description: Device serial number
                example: "ABC123XYZ"
              lastPushImageUrl:
                type: string
                description: URL to the thumbnail image
                example: "https://cdn.vicohome.io/images/thumbnails/ABC123XYZ_1648756321.jpg"
              lastPushTime:
                type: integer
                format: int64
                description: Timestamp of when the image was last updated
                example: 1648756321000
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    DeviceAttributesRequest:
      type: object
      required:
        - serialNumber
      properties:
        serialNumber:
          type: string
          description: Device serial number
          example: "ABC123XYZ"
        returnFixedAttributes:
          type: boolean
          description: Whether to include hardware specifications in the response
          default: true
        returnRealTimeAttributes:
          type: boolean
          description: Whether to include real-time status in the response
          default: true
        returnModifiableAttributes:
          type: boolean
          description: Whether to include configurable settings in the response
          default: true
        token:
          type: string
          description: Authentication token received from login
          
    DeviceAttributesResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            fixedAttributes:
              type: object
              description: Hardware specifications and capabilities
              additionalProperties:
                type: object
                properties:
                  value:
                    type: string
                    description: The value of the attribute
                  type:
                    type: string
                    description: The data type of the attribute
                    enum: [string, integer, boolean, array, object]
            realTimeAttributes:
              type: object
              description: Current device status
              additionalProperties:
                type: object
                properties:
                  value:
                    type: string
                    description: The value of the attribute
                  type:
                    type: string
                    description: The data type of the attribute
                    enum: [string, integer, boolean, array, object]
            modifiableAttributes:
              type: object
              description: User-configurable settings
              additionalProperties:
                type: object
                properties:
                  value:
                    type: string
                    description: The current value of the attribute
                  type:
                    type: string
                    description: The data type of the attribute
                    enum: [string, integer, boolean, array, object]
                  allowedValues:
                    type: array
                    description: List of allowed values for this attribute
                    items:
                      type: string
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    OtaStatusResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            inProgress:
              type: boolean
              description: Whether an update is currently in progress
              example: true
            localDataProgress:
              type: integer
              description: Update progress percentage (0-100)
              example: 35
              minimum: 0
              maximum: 100
            localDataStartTime:
              type: integer
              format: int64
              description: Timestamp when the update started
              example: 1648756321000
            otaStatus:
              type: integer
              description: |
                Update status code:
                0 = Not started
                1 = Downloading
                2 = Installing
                3 = Complete
                4-5 = Error
              example: 1
              enum: [0, 1, 2, 3, 4, 5]
            serialNumber:
              type: string
              description: Device serial number
              example: "ABC123XYZ"
            status:
              type: integer
              description: General device status code
              example: 1
            targetFirmware:
              type: string
              description: Target firmware version
              example: "v2.3.5"
            totalSize:
              type: integer
              format: int64
              description: Total update size in bytes
              example: 15728640
            transferredSize:
              type: integer
              format: int64
              description: Amount of data transferred so far in bytes
              example: 5505024
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    SingleDeviceResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            id:
              type: integer
              description: Unique identifier for the device
              example: 12345
            serialNumber:
              type: string
              description: Device serial number
              example: "ABC123XYZ"
            deviceName:
              type: string
              description: User-assigned device name
              example: "Front Door Camera"
            modelName:
              type: string
              description: Device model name
              example: "VH100"
            batteryLevel:
              type: integer
              description: Battery level percentage (0-100)
              example: 85
              minimum: 0
              maximum: 100
            online:
              type: integer
              description: Online status (1=online, 0=offline)
              example: 1
              enum: [0, 1]
            awake:
              type: integer
              description: Awake status (1=awake, 0=sleeping)
              example: 1
              enum: [0, 1]
            isCharging:
              type: integer
              description: Charging status (1=charging, 0=not charging)
              example: 0
              enum: [0, 1]
            locationId:
              type: integer
              description: Location identifier
              example: 789
            locationName:
              type: string
              description: Location name
              example: "Home"
            thumbImgTime:
              type: integer
              format: int64
              description: Timestamp of the thumbnail image
              example: 1648756321000
            thumbImgUrl:
              type: string
              description: URL to the thumbnail image
              example: "https://cdn.vicohome.io/images/thumbnails/ABC123XYZ_1648756321.jpg"
            sdCard:
              type: object
              description: SD card information
              properties:
                formatStatus:
                  type: integer
                  description: SD card format status code
                  example: 1
                total:
                  type: integer
                  format: int64
                  description: Total SD card capacity in bytes
                  example: 32212254720
                used:
                  type: integer
                  format: int64
                  description: Used SD card space in bytes
                  example: 12458741760
            hasAlarm:
              type: boolean
              description: Whether the device has alarm capabilities
              example: true
            hasWebRTC:
              type: boolean
              description: Whether the device supports WebRTC streaming
              example: true
            hasSleepMode:
              type: boolean
              description: Whether the device supports sleep mode
              example: true
            hasFloodlight:
              type: boolean
              description: Whether the device has a floodlight
              example: false
            firmwareVersion:
              type: string
              description: Current firmware version
              example: "v2.3.5"
            needOta:
              type: boolean
              description: Whether a firmware update is available
              example: false
        message:
          type: string
          example: "Success"
          description: Response message
      required:
        - code
        - data
        - message
        
    ListDeviceResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
          description: Response code (0 means success)
        data:
          type: object
          properties:
            list:
              type: array
              description: List of devices
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Unique identifier for the device
                    example: 12345
                  serialNumber:
                    type: string
                    description: Device serial number
                    example: "ABC123XYZ"
                  deviceName:
                    type: string
                    description: User-assigned device name
                    example: "Front Door Camera"
                  online:
                    type: integer
                    description: Online status (1=online, 0=offline)
                    example: 1
                    enum: [0, 1]
                  deviceModel:
                    type: object
                    description: Model information
                    properties:
                      id:
                        type: integer
                        description: Model identifier
                        example: 8
                      name:
                        type: string
                        description: Model name
                        example: "VH100"
                      category:
                        type: integer
                        description: Model category
                        example: 1
                  batteryLevel:
                    type: integer
                    description: Battery level percentage (0-100)
[...]
